{% extends "base.html" %}
{% block title %}HMMtuf-Learn D£{% endblock title %}


{%block inner_body %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<div class="row">
    <h3>Learn D3</h3>
</div>

<!--<svg width="50" height="50">
        <circle r="25" fill="purple" cx="25" cy="25" />
</svg>-->

<svg id="canvas" width="800" height="500"></svg>

{% load static %}

<script src="{% static "js/d3_plotting_helpers.js" %}"></script>
<script src="{% static "js/d3_helpers.js" %}"></script>

<script type="text/javascript">

    data = d3.csv("/home/alex/qi3/hmmtuf/viterbi_paths/e12a3c1a_aecf_4380_bb32_dd492f9b6aad/viterbi_scatter.csv");

    data=[ { "nwga": 5.15, "wga": 5.12, "state": "TUF" , "color": "black"},
           {  "nwga":6.89, "wga": 3.31,"state": "TUF","color": "black"},
           { "nwga":8.47, "wga": 6.47, "state": "TUF","color": "black"},
           {"nwga":10.57, "wga": 2.84,"state": "TUF","color": "black"},
           {"nwga":18.24, "wga": 4.3,"state": "TUF","color": "black"},
           {"nwga":10.03, "wga": 3.91, "state": "TUF","color": "blue"},
           {"nwga":12.43, "wga": 3.49,"state": "TUF","color": "blue"},
           {"nwga":13.19, "wga":2.85,"state": "TUF","color": "blue"},
           {"nwga":13.98, "wga": 3.94,"state": "TUF","color": "blue"},
           {"nwga":11.36, "wga": 3.51, "state": "TUF","color": "blue"},
           {"nwga":0.56, "wga": 3.2,"state": "TUF",   "color": "blue"}
];

 //data = d3.csv("/home/alex/qi3/hmmtuf/viterbi_paths/2_TwoNum.csv");
     //var data = [
     //   { nwga: 3.42, wga: 138 },
     //   { nwga: 3.54, wga: 153 },
     //   { nwga: 3.14, wga: 148 },
     //   { nwga: 2.76, wga: 164 },
     //   { nwga: 2.95, wga: 162 },
     //   { nwga: 3.36, wga: 143 }
     //]


    scatterPlot(data);
    // var svg = d3.select("#canvas");

    // var margin = {top: 10, right: 30, bottom: 30, left: 60};
    // var width = 460 - margin.left - margin.right;
    // var height = 400 - margin.top - margin.bottom;




</script>

{% endblock inner_body %}