{% extends "base.html" %}
{% block title %}HMMtuf-Compute Group Viterbi Path{% endblock title %}
{%block inner_body %}


<div class="row p-3">
    <div class="col mb-4">

        {% if error_empty_hmm_list %}
        <p>ERROR: {{ error_empty_hmm_list }} <a href="/load_file/load_hmm">Create HMM models</a></p>
        {% else %}
        {% if error_found %}

        {% if no_seq_chromosome %}
        <p>ERROR: {{ no_seq_chromosome }}. <a href="/load_file/load_region">Load region.</a></p>
        {% else %}
        <p>ERROR: {{ error_found }}.</a></p>
        {% endif %}
        {% endif %}
        <h4 class="text-center">Schedule group Viterbi path computation</h4>
        <hr />
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="control-group form-group">
                <div class="controls">
                    <label>HMM file:</label>
                    <select id="id_hmm" class="form-control" name="hmm">
                        {% for hmm_name in hmm_names %}
                        <option value="{{ hmm_name }}">{{ hmm_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="control-group form-group mb-4">
                <div class="controls">
                    <label>Group tip:</label>
                    <select name="group_tip" class="form-control">
                        {% for group in group_tips %}
                        <option value="{{ group.tip }}">{{ group.tip }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            {% if use_spade %}
            <div class="form-row mb-4">
                <div class="col-6">
                    <input type="checkbox" name="use_spade" value="True">
                    <label for="use_spade">Use SPADE</label>
                </div>
                <div class="col-6">

                    <input type="checkbox" name="remove_dirs" value="True">
                    <label for="remove_dirs">Remove created directories</label>
                </div>
            </div>
            {% endif %}
            <hr/>
            <button type="submit" class="btn btn-primary mt-0 float-right">Compute</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock inner_body %}