{% extends "base.html" %}
{% block title %}HMMtuf-Compute Viterbi Path{% endblock title %}
{%block inner_body %}

<br/>
<div class="row">
    <div class="col-lg-8 mb-4">
    {% if error_empty_hmm_list %}
        <p>ERROR: {{ error_empty_hmm_list }} <a href="/load_file/load_hmm">Create HMM models</a></p>
    {% elif error_empty_region_list %}
        <p>ERROR: {{ error_empty_region_list }} <a href="/load_file/load_region">Upload a region file</a></a></p>
    {% else %}
    <h4>Schedule Viterbi path computation</h4>
    <hr/>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="control-group form-group">
        <div class="controls">
            <label>Region file:</label><br/>
            <select id="id_region" name="region">
                {% for region_name in region_names %}
                    <option value="{{ region_name }}">{{ region_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br/>

    <div class="control-group form-group">
        <div class="controls">
            <label>HMM file:</label><br/>
            <select id="id_hmm" name="hmm">
                {% for hmm_name in hmm_names %}
                    <option value="{{ hmm_name }}">{{ hmm_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br/>

    <!--<div class="control-group form-group">
        <div class="controls">
            <label>Number of sequences:</label>
            <input type="number" class="form-control" name="n_sequences"><br/>
        </div>
    </div>

    <div class="control-group form-group">
        <div class="controls">
            <label>Chromosome:</label>
            <input type="text" class="form-control" name="chromosome"><br/>
        </div>
    </div>-->

    <!--<div class="control-group form-group">
        <div class="controls">
            <label>Sequence size:</label>
            <input type="text" class="form-control" name="sequence_size">
        </div>
    </div>-->

    <!--<div class="control-group form-group">
        <div class="controls">
            <label>Viterbi path filename:</label>
            <input type="text" class="form-control" name="viterbi_path_filename">
        </div>
    </div>-->

    <!--<p>Window Type</p>
    <select id="id_window_type" name="window_type">
        {% for window_name in window_names %}
            <option value="{{ window_name }}">{{ window_name }}</option>
        {% endfor %}
    </select>
    <br/>-->

    <!--<p>Create TUF-DEL-TUF islands</p>
    <select id="id_tuf_del_tuf" name="id_tuf_del_tuf">
        {% for window_name in window_names %}
            <option value="{{ window_name }}">{{ window_name }}</option>
        {% endfor %}
    </select>-->
    <br/>

    <button type="submit" class="btn btn-primary">Compute</button>
</form>
</div>
</div>
{% endif %}
{% endblock inner_body %}