
{% extends "base.html" %}
{% block title %}HMMtuf-Home{% endblock title %}

{%block inner_body %}
<div class="row">

   {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} ERROR:
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}  INFO:
            {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    </div>
{% endif %}

    <div>
    <div class="col mb-2"><h3>Statistics</h3>
        <hr/>
        <ul>
            <li>DB name: {{ db_name }}</li>
            <li>Number of regions loaded: {{ n_regions }}</li>
            <li>Number of HMM models loaded: {{ n_hmm_models }}</li>
            <li>Number of tasks executed: {{ n_total_tasks }}</li>
            <li>Number of tasks completed: {{ n_success_tasks }}</li>
            <li>Number of tasks failed: {{ n_failed_tasks }}</li>
            <li>Number of tasks pending: {{ n_pending_tasks }}</li>
        </ul>
    </div>
</div>
{% endblock inner_body %}