{% extends "base.html" %}
{% block title %}HMMtuf-Sequence View{% endblock title %}
{%block inner_body %}

<br/>
<div class="row">
<div class="col-lg-12" id="igv-browser">
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/igv@2.6.2/dist/igv.min.js"></script>
<script>
var igvDiv = document.getElementById("igv-browser");
var options =
        {
            locus: '1:500,000-5,000,000',
            flanking: 1000,
            genome: 'hg38',
            tracks: [
            
                {

                    name: 'M585',
                    url: "/scratch/spectre/a/ag568/m585_verysensitive_trim_sorted.bam",
                    indexed: true,
                    format: "bam",
                    type: "alignment",
                },
            
                {
                    name: "M605",
                    url: "/scratch/spectre/a/ag568/m605_verysensitive_trim_sorted.bam",
                    indexed: true,
                    format: "bam",
                    type: "alignment",
                }
                
            ]
        };

igv.createBrowser(igvDiv, options)
                .then(function (browser) {
                    console.log("Created IGV browser");
                })
</script>

{% endblock inner_body %}
