<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HMMtuf-Upload region file</title>
</head>
<body>
<h4>Upload .txt file describing a chromosome region</h4>

{% if error_missing_region_name %}
    <p>ERROR: {{ error_missing_region_name }}</p>
{% endif %}

{% if error_missing_file %}
    <p>ERROR: {{ error_missing_file }}</p>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Region file</p>
    <input type="file" name="regionFile"><br/>
    <p>Region name</p>
    <input type="text" name="regionName"><br/>
    <button type="submit">Upload</button>
</form>

{% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}

</body>
</html>