{% extends "base.html" %}
{% block title %}HMMtuf-Extract Region{% endblock title %}
{%block inner_body %}


<div class="row p-5">
    <div class="col ">
        {% if error_empty_hmm_list %}
        <p>ERROR: {{ error_empty_hmm_list }}</p>
        {% elif error_empty_region_list %}
        <p>ERROR: {{ error_empty_region_list }}</p>
        {% else %}
        <h4 class="text-center">Extract Region</h4>
        <hr />
        <form method="post" enctype="multipart/form-data" target="_blank">
            {% csrf_token %}


            <div class="control-group form-group">
                <div class="controls">
                    <label>HMM file:</label>
                    <select id="id_hmm" class="form-control" name="hmm">
                        {% for hmm_name in hmm_names %}
                        <option value="{{ hmm_name }}">{{ hmm_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="control-group form-group">
                <div class="controls">
                    <label>Reference sequence file:</label>
                    <input type="text" class="form-control" name="ref_file">
                </div>
            </div>

            <div class="control-group form-group">
                <div class="controls">
                    <label>WGA sequence file:</label>
                    <input type="text" class="form-control" name="wga_ref_seq_file">
                </div>
            </div>

            <div class="control-group form-group">
                <div class="controls">
                    <label>No-WGA sequence file:</label>
                    <input type="text" class="form-control" name="nwga_ref_seq_file">
                </div>
            </div>

            <div class="control-group form-group">
                <div class="controls">
                    <label>Region start:</label>
                    <input type="text" class="form-control" name="region_start">
                </div>
            </div>

            <div class="control-group form-group">
                <div class="controls">
                    <label>Region end:</label>
                    <input type="text" class="form-control" name="region_end">
                </div>
            </div>

            <div class="control-group form-group">
                <div class="controls">
                    <label>Window size:</label>
                    <input type="text" class="form-control" name="window_size">
                </div>
            </div>

            <div class="control-group form-group">
                <div class="controls">
                    <label>Chromosome:</label>
                    <input type="text" class="form-control" name="chromosome">
                </div>
            </div>

            <div class="control-group form-group">
                <div class="controls">
                    <label>Outlier removal</label>
                    <select class="form-control" name="outlier_remove">
                        {% for name in outlier_remove_names %}
                        <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>




            <!--<p>Create TUF-DEL-TUF islands</p>
    <select id="id_tuf_del_tuf" name="id_tuf_del_tuf">
        {% for window_name in window_names %}
            <option value="{{ window_name }}">{{ window_name }}</option>
        {% endfor %}
    </select>-->


            <button type="submit" class="btn btn-primary float-right">Upload</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock inner_body %}