{% extends "base.html" %}
{% block title %}HMMtuf-Load HMM Model{% endblock title %}
{%block inner_body %}


<br/>
<div class="row p-5">
    <div class="col ">
        <h4 class="text-center">Upload JSON file describing an HMM.</h4>
        <hr/>

        {% if error_missing_name %}
            <p>ERROR: {{ error_missing_name }}</p>
        {% endif %}

        {% if error_name_exist %}
            <p>ERROR: {{ error_name_exist }}</p>
        {% endif %}

        {% if error_missing_file %}
            <p>ERROR: {{ error_missing_file }}</p>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="control-group form-group">
                <div class="controls">
                    <label>HMM file:</label>
                    <input class="form-control-file border" type="file" id="hmm_filename_id"  name="hmm_filename">
                </div>
                
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>HMM name:</label>
                    <input type="text" class="form-control" id="hmm_name_id" placeholder="Enter HMM name" name="hmm_name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Upload</button>
        </form>
    </div>
</div>
{% endblock inner_body %}