{% extends "base.html" %}
{% block title %}HMMtuf-Upload region file{% endblock title %}
{%block inner_body %}

<br/>
<div class="row p-3">
    <div class="col mb-4">
        <h4 class="text-center">Upload .txt file describing a chromosome region.</h4>
        <hr/>

        {% if error_missing_name %}
            <p>ERROR: {{ error_missing_name }}</p>
        {% endif %}

        {% if error_name_exist %}
            <p>ERROR: {{ error_name_exist }}</p>
        {% endif %}

        {% if error_missing_file %}
            <p>ERROR: {{ error_missing_file }}</p>
        {% endif %}

        {% if error_missing_chromosome_name %}
            <p>ERROR: {{ error_missing_chromosome_name }}</p>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="control-group form-group mb-2">
                <div class="controls">
                    <label>Region file:</label><br/>
                    <input  type="file" class="form-control-file border" name="region_file"><br/>
                </div>
            </div>
            <div class="control-group form-group mb-0">
                <div class="controls">
                    <label>Region name:</label>
                    <input type="text" class="form-control" placeholder="Enter the region name." name="region_name"><br/>
                </div>
            </div>
            <div class="control-group form-group mb-2">
                <div class="controls">
                    <label>Chromosome name:</label>
                    <input type="text" class="form-control" placeholder="Enter the chromosome name." name="chr_name"><br/>
                </div>
            </div>

            <button type="submit" class="btn btn-primary float-right">Upload</button>
        </form>
    </div>
</div>
{% endblock inner_body %}