{% extends "base.html" %}
{% block title %}HMMtuf-Load HMM Model{% endblock title %}
{%block inner_body %}
<h4>Upload JSON file describing an HMM</h4>

{% if error_missing_name %}
    <p>ERROR: {{ error_missing_name }}</p>
{% endif %}

{% if error_name_exist %}
    <p>ERROR: {{ error_name_exist }}</p>
{% endif %}

{% if error_missing_file %}
    <p>ERROR: {{ error_missing_file }}</p>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>HMM file</p>
    <input type="file" id="hmm_filename_id" name="hmm_filename"><br/>
    <p>HMM name</p>
    <input type="text" id="hmm_name_id" name="hmm_name"><br/>
    <button type="submit">Upload</button>
</form>
{% endblock inner_body %}